@mixin warning {
    background-color: orange;
    color: white;

    &:hover{
        background-color: lighten($color: orange, $amount: 10%);
    }
}

@mixin google-fonts($font){
    $font: unquote($font);
    @import url(https://fonts.googleapis.com/css?family=#{$font});
}
  
@mixin large-text{
    font: {
      size: 22px;
      weight: bold;
    }
}
  
@mixin rounded($radius: 6px){
    border-radius: $radius;
}
  
@mixin box($radius: 6px, $border: 1px solid #333){
    @include rounded($radius);
    border: $border;
}
  
@mixin fancy-links{
    a{
      font-style: italic;
      text-decoration: none;
    }
}

@mixin box-shadow($shadows...){
    box-shadow: $shadows;
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
}

@mixin apply-to-ie-6{
    * html {
        @content;
    }
}

@mixin blue-beans{
    @if $brand == blue-beans{
        @content;
    }
}

@mixin pink-beans{
    @if $brand == pink-beans{
        @content;
    }
}